body {
    background-color: #f5ffff;
}
.top {
    background-color: #8DD7E7;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: repeat(1, 100px);
    
}
.header_logo {
    height: 75px;
    width: 75px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
}
.top_header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 20pt;
    font-family: "Red Hat Display", serif;

}
.navbar {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.home {
    font-family: "Red Hat Display", serif;
    font-size: 14pt;
}
.backstory {
    background-color: #FFF3E0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.back {
    text-align: center;
    font-family: "Crimson Text", serif;
    font-size: 18pt;
}
.backimg {
    margin-top: 15px;
    width: 90%;
    border-radius: 5%;
}
.gtku {
    display: flex;
    font-family: "Crimson Text", serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 30px;
    background-color: #8DD7E7;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 25%;
}
.people {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Crimson Text", serif;
    font-size: 14pt;
}
.blurb{
    margin: 20px;
}
.person {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    background-color: #8DD7E7;
    width: 80%;
    height:min-content;
    text-align: center;
    align-items: center;
    margin: 5%;
}

.right {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Crimson Text", serif;
    grid-row: 1/2;
}
.Alexis {
    grid-column: 1 / 2;
    width: 100%;
    margin-left: 2%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5%;
}
.name {
    font-family: "Red Hat Display", serif;
    background-color: #FFF3E0;
    border-radius: 5px;
    width: 70%;
}
.foot {
    background-color: #8DD7E7;
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 16pt;
    font-family: "Red Hat Display", serif;
}
.footer_logo {
    height: 50px;
    width: 50px;
}

@media screen and (min-width: 700px) {
    body {
        background-color: #f5ffff;
    }
    .top {
        background-color: #8DD7E7;
        display: grid;
        grid-template-columns: 10% 10% 80%;
        grid-template-rows: repeat(1, 100px);
    }
    .header_logo {
        height: 75px;
        width: 75px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
    }
    .top_header {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-left: 20px;
        display: flex;
        align-items: center;
        font-size: 30pt;
    }
    .navbar {
        display: flex;
        align-items: center;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .backstory {
        background-color: #FFF3E0;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .back {
        text-align: center;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -300px;
    }
    .backimg {
        margin-top: 15px;
        max-height: 300px;
        border-radius: 5px;
        width: auto;
        margin-bottom: 15px;
        grid-column: 2/3;
    }
    .gtku {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 30%;
        height: 30px;
        background-color: #8DD7E7;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        margin-left: 35%;
    }
    
.people {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 0.5rem;
    grid-template-rows: auto;
}
.person {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    background-color: #8DD7E7;
    width: 80%;
    height:auto;
    text-align: center;
    margin: 5%;
}
    
.right {
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        grid-row: 1/2;
}
.Alexis {
        grid-column: 1 / 2;
        width: 100%;
        margin-left: 2%;
        margin-top: 10px;
        border-radius: 5px;
        padding: 5%;
}

.foot {
        background-color: #8DD7E7;
        display: grid;
        grid-template-columns: 5% 95%;
}
.footer_logo {
        height: 50px;
        width: 50px;
}
}