/* Mobile view */
body {
    background-color: #f5ffff;
}
/*header*/
.top {
    background-color: #8DD7E7;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: repeat(1, 100px);
    
}
.header_logo {
    height: 75px;
    width: 75px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
}
.top_header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 20pt;
    font-family: "Red Hat Display", serif;

}
.navbar {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.home {
    font-family: "Red Hat Display", serif;
    font-size: 14pt;
}
/*main*/
.signup {
    font-family: "Red Hat Display", serif;
    font-size: 20pt;
}
.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#8DD7E7;
    margin: 20px;
    border-radius: 7px;
}

.form {
    background-color: #fff3E0;
    border-radius: 7px;
}
.title {
    font-family: "Crimson Text", serif;
    font-size: 16pt;
}
input {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 5px;
}
input {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: none;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
textarea, select {
    border: 2px solid transparent;
    font-size: 16px;
    height: auto;
    padding: 10px;
    width: 90%;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    transition: all 400ms;
}
input::placeholder,textarea::placeholder {
    color: #296c7a;
}
input:hover, input:focus, textarea:hover, textarea:focus{
    border: 2px solid #296c7a
}
.submit {
    background-color: #f5ffff;
    width: 100%;
    padding: 10px 20px;
    border-color: #296c7a;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    color: #296c7a;
    transition-duration: 0.4s;
    font-size: 18pt;
    font-family: "Red Hat Display", serif;
}
.submit:hover {
    background-color: #296c7a;
    color: white;
    text-decoration: underline;
}
.submit:focus {
    background-color: #296c7a;
    color: white;
    text-decoration: underline;
}
.donate {
    display: grid;
    border-radius: 7px;
    background-color: #8DD7E7;
    margin: 20px;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
.imgone {
    grid-column: 1/2;
    grid-row: 1/3;
}
.descrip {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.descrip > p {
    font-family: "Crimson Text", serif;
    font-size: 16pt;
    margin-left: 20px;
}
.button{
    background-color: #fff3E0;
    padding: 10px 20px;
    border-style: hidden;
    border-radius: 5px;
    transition-duration: 0.4s;
    font-size: 16pt;
    font-family: "Red Hat Display", serif;
}
.button:hover {
    background-color: #e3dac8;
    text-decoration: underline;
    border-style: solid;
    border-color: #296c7a;
}
.button:focus {
    background-color: #e3dac8;
    text-decoration: underline;
    border-style: solid;
    border-color: #296c7a;
}
.donatebutton> a:hover {
    color: white;
}
.photo {
    width: 100%;
    border-radius: 7px;
    padding: 10px;
}
.noworries {
    background-color:#8DD7E7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
}
.text {
    margin: 10%;
    font-family: "Crimson Text", serif;
    font-size: 16pt;
}

.here{
    background-color: #fff3E0;
    padding: 10px 20px;
    border-style: hidden;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin-bottom: 10%;
    font-size: 16pt;
    font-family: "Red Hat Display", serif;
}
.here:hover {
    background-color: #e3dac8;
    text-decoration: underline;
    border-style: solid;
    border-color: #296c7a;
}
.here:focus {
    background-color: #e3dac8;
    text-decoration: underline;
    border-style: solid;
    border-color: #296c7a;
}
.here> a:hover {
    color: white;
}
/* footer */
.foot {
    background-color: #8DD7E7;
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 16pt;
    font-family: "Red Hat Display", serif;
}
.footer_logo {
    height: 50px;
    width: 50px;
}

@media screen and (min-width: 700px) {

    .top {
        background-color: #8DD7E7;
        display: grid;
        grid-template-columns: 10% 10% 80%;
        grid-template-rows: repeat(1, 100px);
    }
    .header_logo {
        height: 75px;
        width: 75px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
    }
    .top_header {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-left: 20px;
        display: flex;
        align-items: center;
        font-size: 30pt;
    }
    .navbar {
        display: flex;
        align-items: center;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

main {
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: auto;
    }

.news {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1/2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#8DD7E7;
    margin: 20px;
    grid-column: 2/3;
    grid-row: auto;
    border-radius: 7px;
}

}
.form {
    background-color: #fff3E0;
    margin: 10px;
    width: 60%;
    border-radius: 7px;
    padding: 10px;
}
.donate {
    display: grid;
    background-color: #8DD7E7;
    margin: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
}
.imgone {
    margin: 5%;
    width: 100%;
    grid-column: 1/2;
    grid-row: auto;
}
.descrip {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.button{
    background-color: #fff3E0;
    padding: 10px 20px;
    border-style: hidden;
    border-radius: 5px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #e3dac8;
    text-decoration: underline;
    border-style: solid;
    border-color: #296c7a;
}
.button:focus {
    background-color: #e3dac8;
    text-decoration: underline;
    border-style: solid;
    border-color: #296c7a;
}
.donatebutton> a:hover {
    color: white;
}
.donatebutton{
    margin-left: 10%;
}
.photo {
    width: 100%;
}
.noworries {
    background-color:#8DD7E7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    grid-column: 1/3;
}
.text {
    margin: 2%;
}
.here {
    margin-bottom: 2%;
}
.here{
    background-color: #fff3E0;
    padding: 10px 20px;
    border-style: hidden;
    border-radius: 5px;
    transition-duration: 0.4s;
}
.here:hover {
    background-color: #e3dac8;
    text-decoration: underline;
    border-style: solid;
    border-color: #296c7a;
}
.here:focus {
    background-color: #e3dac8;
    text-decoration: underline;
    border-style: solid;
    border-color: #296c7a;
}
.here> a:hover {
    color: white;
}

/* footer */
.foot {
    background-color: #8DD7E7;
    display: grid;
    grid-template-columns: 5% 95%;
}
.footer_logo {
    height: 50px;
    width: 50px;
}